<h1>Pending Traders</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Registered On</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @pending_traders.each do |trader| %>
      <tr>
        <td><%= trader.email %></td>
        <td><%= trader.created_at.strftime("%B %d, %Y") %></td>
        <td>
          <%= link_to "Approve", approve_admin_trader_path(trader), method: :patch, class: "button" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
